.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a#btnReserva {
  padding-inline: 40px;
  line-height: 50px;
  background-color: #1c8fdf;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  transition: transform 0.8s;
}

a#btnReserva:hover {
  transform: scale(1.1);
  background-color: #1c8fdfd4;
}
